
@import "mixins";


body{
	background: #2B2B2B;
}
.container{
	max-width: 1180px;
	margin: 0 auto;
}
.main__container{
	max-width: 1050px;
	margin: 0 auto;
}

@media screen and (max-width:1220px) {
	.container{
		max-width: 1050px;
	}
	.main__container{
		max-width: 920px;
		margin: 0 auto;
	}
}
@media screen and (max-width:1080px) {
	.container{
		max-width: 910px;
	}
	.main__container{
		max-width: 820px;
		margin: 0 auto;
	}
}
@media screen and (max-width:930px) {
	.container{
		max-width: 734px;
	}
	.main__container{
		max-width: 690px;
		margin: 0 auto;
	}
}
@media screen and (max-width:755px) {
	
	.container{
		max-width: 630px;
	}
	.main__container{
		max-width: 570px;
		margin: 0 auto;
	}
}
@media screen and (max-width:650px) {
	
	.container{
		max-width: 530px;
	}
	.main__container{
		max-width: 530px;
		margin: 0 auto;
	}
}
@media screen and (max-width:560px) {
	
	.container{
		max-width: 440px;
	}
	.main__container{
		max-width: 440px;
		margin: 0 auto;
	}
}
@media screen and (max-width:460px) {
	
	.container{
		max-width: 370px;
	}
	.main__container{
		max-width: 370px;
		margin: 0 auto;
	}
}
@media screen and (max-width:390px) {
	
	.container{
		max-width: 315px;
	}
	.main__container{
		max-width: 315px;
		margin: 0 auto;
	}
}
@media screen and (max-width:330px) {
	
	.container{
		max-width: 300px;
	}
	.main__container{
		max-width: 300px;
		margin: 0 auto;
	}
}